.Card {
  margin: 2.5rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 9.74rem;

  &:hover {
    background-color: rgb(255, 0, 0);
  }
}

.albumCover {
  height: 13rem;

  &:hover {
    transform: rotateZ(1deg);
    box-shadow: 0rem 0rem 2rem rgb(46, 46, 46);
    cursor: pointer;
  }
}

.albumCoverFlipped {
  height: 13rem;
  animation-duration: 1s;
  animation-name: flipOver;

  @keyframes flipOver {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(180deg);
    }
  }
}
