.Card {
  margin: 2.5rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 9.74rem;

  &:hover {
    background-color: rgb(189, 189, 189);
  }
}

.albumCover {
  height: 13rem;

  &:hover {
    transform: rotateZ(1deg);
    box-shadow: 0rem 0rem 3rem black;
  }

  @keyframes flipOver {
    from {
    }
    to {
      transform: rotateY(180deg);
    }
  }
}
