.card {
  border: 2px solid black;
  margin: 1rem;
  background-color: black;
  color: white;

  img {
    height: 10rem;
  }
}

.noMoons {
  background-color: rgb(170, 170, 170);
  border: 2px solid black;
  margin: 1rem;
  img {
    height: 10rem;
  }
}
